<!doctype html>
<html lang="en">
<head>
    <title>ptab api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <link href="css/normalize.css" rel='stylesheet' type="text/css">
    <link href='css/main.css' rel='stylesheet' type="text/css">
  
</head>
    
<body data-ng-app="ptabApp">
    <div id="container" data-ng-controller="ptabCtrl">
        <label id="main-label">Enter a patent number</label>
        <input tabindex="0" type="text" data-ng-model="query.patentNumber" autocomplete="off" placeholder="patent number"/>
        
        <button tabindex="0" type="button" id="submit" data-ng-click="getPatentData(patentSearchCall, patentSearch, query.patentNumber)">Submit</button>
            
        <h5>{{query.queryErrorMessage}}</h5>
        <ul ng-repeat="result in patentNumberJson.data.results">
        <li>Trial Number: {{result.trialNumber}}</li>
        <li>Patent Owner: {{result.patentOwnerName}}</li>
        <li>Petitioner: {{result.petitionerPartyName}}</li>
        <li>Status: {{result.prosecutionStatus}}</li>
        <li><a ng-click="getDocuments(result.links[1])" href="{{result.links[1].href}}">Get documents</a></li>
        
        </ul>
        
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" type="text/javascript"></script>
    <script src="scripts/controller.js" type="text/javascript"></script>
        
</body>
    
</html>
