<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='css/main.css' rel='stylesheet' type="text/css">
  
</head>
    
<body>
        <label id="case-search-label">Enter a case number</label>
         <input id="case-search-input" tabindex="0" type="text" data-ng-model="query.caseNumber" autocomplete="off" placeholder="trial number"/>
        <button tabindex="0" type="button" id="submit" data-ng-click="getPatentData(caseTitleSearchCall, caseTitleSearch, query.caseNumber)">Submit</button> 
    

</body>
</html>