<!doctype html>
<html lang="en">
<head>
  
</head>
    
<body>
    <div>
        <label id="case-search-label">Enter a trial number</label>
         <input id="case-search-input" tabindex="0" type="text" data-ng-model="query.caseNumber" autocomplete="off" placeholder="trial number" >
        <button class="button large" tabindex="0" type="button" id="submit" data-ng-click="getPatentData(caseTitleSearchCall, caseTitleSearch, query.caseNumber)">Submit</button> 
    </div>

</body>
</html>
