<!doctype html>
<html lang="en">
<head>
</head>
    
<body>
    
 <div class="case-header-wrapper">    
     
      <ul id="case-header-info">
            <li>Trial Number: {{caseTitleData.data.trialNumber}}</li>
            <li>Filing Date: {{caseTitleData.data.filingDate | date: MM/dd/yyyy }}</li>
            <li>Patent Owner: {{caseTitleData.data.patentOwnerName}}</li>
            <li>Petitioner: {{caseTitleData.data.petitionerPartyName}}</li>
            <li>Status: {{caseTitleData.data.prosecutionStatus}}</li>
            <li>Patent Number: {{caseTitleData.data.patentNumber}}</li>
            <li><a href="" target="_blank" ng-click="getPatentData(caseSearchCall, caseSearch, caseTitleData.data.trialNumber + docFilterParameters)">Get documents</a><img id="uiArrow" src="img/arrow.png"></li>
        
        </ul>
    </div>
 
</body>
</html>
