<!doctype html>
<html lang="en">
<head>
</head>
    
<body>
    <div id="fetching-img">
        

<svg id="outer-circle" xmlns="http://www.w3.org/2000/svg" width="965" height="965" viewBox="117.5 17.5 965 965">
  <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>
                                                                                                    
                                                                                                    
<?xpacket end="w"?></metadata>
<defs>
    <style>
      .cls-1 {
        fill: none;
        stroke-width: 150px;
        stroke-dasharray: 600 75;
      }

      .cls-1, .cls-2 {
        stroke: #14679e;
      }

      .cls-2 {
        fill: #14679e;
        stroke-width: 50px;
        stroke-dasharray: 200 25;
      }
    </style>
  </defs>
  <circle class="cls-1" cx="598.5" cy="499.5" r="400">
    
    </circle>
    
    <circle class="cls-2" cx="597" cy="496" r="100"></circle>
</svg>


    </div>
 
</body>
</html>